# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# SASS cache
.sass-cache/

# Next.js build output
.next/

# Nuxt.js build output
.nuxt/

# Gatsby files
.cache/
public

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components/

# serverless directories
.serverless/

# FuseBox cache
.fusebox/

# TypeScript cache
*.tsbuildinfo

# Yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# dotenv environment variables file
.env

# IDE specific files
.idea/
.vscode/
*.swp
